<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WfcPatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <WfcPatcher.Properties.Settings>
      <setting name="PatchServer" serializeAs="String">
        <value>wifi.wfc.kthx.at</value>
      </setting>
      <setting name="PatchSubstrings" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>|message|call 1-800-895-1672 in the USA and Canada, or|visit #dreamwfc on Rizon or</string>
            <string>|normal|www.nintendowifi.com|wfc.kthx.at</string>
            <string>|normal|nintendowifi.net|wifi.wfc.kthx.at</string>
            <string>|normal|nintendowifi.com|wfc.kthx.at</string>
            <string>|message|Nintendo Wi-Fi Connection service|the DreamWFC service</string>
            <string>|message|Nintendo Wi-Fi Connection|the DreamWFC servers</string>
            <string>|message|Nintendo WFC|DreamWFC</string>
            <string>|message|Nintendo Wi-Fi|DreamWFC</string>
            <string>|message|DreamWFC data|Wi-Fi data</string>
            <string>|message|DreamWFC ID|Wi-Fi ID</string>
            <string>|message|Wi-Fi  user|Wi-Fi user</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ApplyNoSSL" serializeAs="String">
        <value>False</value>
      </setting>
    </WfcPatcher.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>